<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="~{modules/layout :: layout(home=false)}">>

    <th:block th:fragment="content">
        <th:block th:each="archive : ${archives.items}">
            <div class="translate-y-5 animate-[fadeInUp_0.6s_ease_forwards]">
                <h1 th:text="${archive.year}"></h1>
                <ul>
                    <th:block th:each="month : ${archive.months}">
                        <li th:each="post : ${month.posts}">
                            <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>

        </th:block>
        <div th:if="${archives.hasPrevious() || archives.hasNext()}">
            <a th:href="@{${archives.prevUrl}}">
                <span>上一页</span>
            </a>
            <span th:text="${archives.page} +' / '+ ${archives.totalPages}"></span>
            <a th:href="@{${archives.nextUrl}}">
                <span>下一页</span>
            </a>
        </div>
    </th:block>

</html>