<!DOCTYPE html>
<html
  lang="zh-CN"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(isHome=false, isPost=false, isSinglePage=false, isArch=true)}"
>
  <th:block th:fragment="content">
    <th:block th:each="archive : ${archives.items}">
      <div class="mb-8 translate-y-5 animate-[fadeInUp_0.6s_ease_forwards]">
        <h1 class="mb-4 text-2xl font-bold" th:text="${archive.year}"></h1>
        <div class="flex flex-col gap-4">
          <div th:each="month : ${archive.months}">
            <div
              th:each="post : ${month.posts}"
              class="mb-4 cursor-pointer rounded-lg border border-border-color-dark p-4 shadow-sm transition hover:bg-gray-100 dark:hover:bg-slate-700"
              th:onclick=" 'location.href=\'' + @{${post.status.permalink}} + '\'' "
            >
              <span th:text="${post.spec.title}" class="pointer-events-none flex-grow hover:underline"> </span>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>
</html>
