<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="~{modules/layout :: layout(home=false)}">

  <th:block th:fragment="content">
    <ul th:fragment="next (categories)" class="translate-y-5 animate-[fadeInUp_0.6s_ease_forwards]">
      <li th:fragment="single (categories)" th:each="category : ${categories}">
        <a th:href="@{${category.status.permalink}}">
          <span th:text="${category.spec.displayName}"> </span>
        </a>
        <th:block th:if="${not #lists.isEmpty(category.children)}">
          <th:block th:replace="~{modules/category-tree :: next (categories=${category.children})}"></th:block>
        </th:block>
      </li>
    </ul>
  </th:block>

</html>