<!DOCTYPE html>
<html
  lang="zh-CN"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(isHome=false, isPost=false, isSinglePage=true, isArch=false)}"
>
  <th:block th:fragment="content">
    <h2
      class="border-b-4 border-accent-color pb-2 text-center text-3xl text-text-color"
      th:text="${singlePage.spec.title}"
    ></h2>

    <div
      class="translate-y-5 animate-[fadeInUp_0.6s_ease_forwards]"
      id="content"
      th:utext="${singlePage.content.content}"
    ></div>
  </th:block>
</html>
