<!DOCTYPE html>
<html
  lang="zh-CN"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(isHome=false, isPost=true, isSinglePage=false, isArch=false)}"
>
  <th:block th:fragment="content">
    <h2
      class="border-b-4 border-accent-color pb-2 text-center text-3xl text-text-color"
      th:text="${post.spec.title}"
    ></h2>

    <!-- 过时提醒 -->
    <div id="outdated_notice" class="alert alert-warning hidden">
      <div class="alert-content">
        <h3 style="color: var(--warning-color); font-style: italic">文章过时提示</h3>
        本文最后更新于
        <span th:text="${#temporals.format(post.spec.publishTime, 'yyyy年MM月dd日')}" style="color: red"></span>。
        某些信息可能不再准确或有效。
      </div>
    </div>
    <script th:inline="javascript">
      const isOutdatedEnabled = /*[[${theme.config.article_setting.outdated_notice}]]*/ false;

      if (isOutdatedEnabled) {
        const notice = document.getElementById("outdated_notice");

        const publishDateStr = /*[[${#temporals.format(post.spec.publishTime, "yyyy-MM-dd")}]]*/ null;
        const publishDate = new Date(publishDateStr);
        const currentDate = new Date();

        const diffInMonths =
          (currentDate.getFullYear() - publishDate.getFullYear()) * 12 +
          (currentDate.getMonth() - publishDate.getMonth());
        const choiceMonths = /*[[${theme.config.article_setting.choiceMonths}]]*/ 6;
        if (diffInMonths >= choiceMonths) {
          notice.classList.remove("hidden");
        }
      }
    </script>

    <div
      id="content"
      class="translate-y-5 animate-[fadeInUp_0.6s_ease_forwards]"
      th:utext="${post.content.content}"
    ></div>

    <!-- 版权声明 -->
    <div
      class="bg-bg-color/50 mt-10 translate-y-5 animate-[fadeInUp_0.6s_ease_forwards] rounded-xl border border-border-color p-4 text-sm text-text-lighter"
    >
      <p class="m-1">✍️ 作者：<span th:text="${theme.config.info.profileName} ?: ${site.title}"></span></p>
      <p class="m-1">
        📄 共享协议：
        <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
          class="hover:text-accent-color/80 text-accent-color underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          CC 4.0协议
        </a>
      </p>

      <p class="m-1 break-words" th:with="url = ${site.url} + ${post.status.permalink}">
        🔗 原文链接：
        <th:block th:with="tempUrl=${url.replaceAll('//+', '/').replaceAll('^http:', 'https:')}">
          <a
            class="hover:text-accent-color/80 text-accent-color underline"
            th:text="${tempUrl.replaceFirst('^(https?):/+', '$1://')}"
          ></a>
        </th:block>
      </p>
    </div>
  </th:block>
</html>
